  <mat-card class="m-2">
    <div class="row mb-2">
      <div class="col-3">
        <img src="{{ model.image }}"  mat-card-sm-image>	
      </div>
      <div class="col-9">
        <mat-card-title> {{ model.owner }} </mat-card-title>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-subtitle class="mt-4"> {{ model.description }} </mat-card-subtitle>
    <mat-card-content> {{model.body}} </mat-card-content>
    <mat-card-footer class="text-center bg-secondary text-light"> {{ model.name }} </mat-card-footer>
    <mat-card-actions>
        <a href="{{model.body}}" class="btn btn-outline-info">Open</a>
        <a href="#" class="btn btn-outline-primary">Like</a>
        <a href="#" class="btn btn-outline-secondary">Add To Mine</a>
    </mat-card-actions>
  </mat-card>