.img {
    max-width: 300px;
    border-right-color: #eee ;
    border-top-color: #eee ;
    border-left-color: #999 ;
    border-bottom-color: #999 ;
    border-radius: 10%;
    border-style: solid;
    border-width: 10px;
}
a.btn {
    color: #ED213A;
    text-decoration: transparent;
}
a.btn:hover {
    color: white;
}
