
<div class="container">
  <mat-tab-group>
    <mat-tab label="Articles">
      <app-category [currentTab]="'Articles'"></app-category>
    </mat-tab>
    <mat-tab label="Videos"> 
      <app-category [currentTab]="'Videos'"></app-category> 
    </mat-tab>
    <mat-tab label="Photos"> 
      <app-category [currentTab]="'Photos'"></app-category> 
    </mat-tab>
    <mat-tab label="Music">  
      <app-category [currentTab]="'Music'"></app-category> 
    </mat-tab>
    <mat-tab label="Others"> 
      <app-category [currentTab]="'Others'"></app-category> 
    </mat-tab>
  </mat-tab-group>
</div>

