<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="activeTab === 'Articles' ? 'active' : ''" (click)="activeTab = 'Articles'">Articles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="activeTab === 'Videos' ? 'active' : ''" (click)="activeTab = 'Videos'">Videos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="activeTab === 'Music' ? 'active' : ''" (click)="activeTab = 'Music'">Music</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="activeTab === 'Photos' ? 'active' : ''" (click)="activeTab = 'Photos'">Photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="activeTab === 'Others' ? 'active' : ''" (click)="activeTab = 'Others'">Others</a>
    </li>
</ul>
