  <mat-card class="m-2">
    <div class="row mb-2">
      <div class="col-md-3 col-sm-12">
        <img src="{{ model.image }}"  mat-card-sm-image>	
      </div>
      <div class="col-lg-9 col-md-12">
        <mat-card-title> {{ model.owner }} </mat-card-title>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="container">
      <mat-card-subtitle class="mt-4"> {{ model.description }} </mat-card-subtitle>
      <mat-card-content> {{model.body}} </mat-card-content>
      <mat-card-footer class="text-center bg-secondary text-light"> {{ model.name }} </mat-card-footer>
      <mat-card-actions>
          <a mat-stroked-button href="{{ model.body }}">Open</a>
          <a mat-stroked-button href="#" >Like</a>
          <a mat-stroked-button href="#" >Add To Mine</a>
      </mat-card-actions>
    </div>
  </mat-card>