.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
    background-image: url(http://www.designbolts.com/wp-content/uploads/2014/04/Purple_floral-Seamless-Pattern.png);
    background-size: 100%;
}
p {
    color: snow;
    text-align: center;
    font-size: 0.4em;
    margin-top: 1em;
}