<div class="container">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <mat-card>
        <mat-card-title>
            Add A URL To Mine :)
        </mat-card-title>
        <mat-form-field class="wide">
          <input type="url" name="url" ngModel matInput placeholder="paste URL here...">
        </mat-form-field>
      <br>
        <mat-form-field class="wide">
          <textarea matInput placeholder="give it a nice description..." name="description" ngModel></textarea>
        </mat-form-field>
      <br>
        <mat-form-field class="wide">
          <mat-select placeholder="Select Category..." name="category" ngModel>
            <mat-option value="videos">Videos</mat-option>
            <mat-option value="articles">Articles</mat-option>
            <mat-option value="photos">Photos</mat-option>
            <mat-option value="music">Music</mat-option>
            <mat-option value="others">Others</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <button mat-stroked-button type="submit">Add To Mine!</button>
    </mat-card>    
  </form>
</div>