<div class="text-center">
<nav class="navbar navbar-toggler navbar-dark">
        <a class="navbar-brand logo" routerLink="/">Mine</a>
        <button 
        class="navbar-toggler"
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      

        <div class="collapse navbar-collapse text-nunito" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"
              data-toggle="collapse" 
              data-target="#navbarSupportedContent"
            >
              <a class="nav-link" 
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">Home 
              <span class="sr-only">(current)</span>
            </a>
          </li>
          
          <li class="nav-item"
            data-toggle="collapse" 
            data-target="#navbarSupportedContent"
          >
            <a class="nav-link" 
            routerLink="/signup">Sign Up</a>
          </li>
          
          <li class="nav-item"
          data-toggle="collapse" 
          data-target="#navbarSupportedContent"
          >
            <a class="nav-link" [routerLink]="['/profile']">My Profile</a>
          </li>
          
          <li class="nav-item" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent"
          >
            <a class="nav-link" [routerLink]="['/friends']">My friends</a>
          </li>
          
          <li class="nav-item" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent"
            >
            <a class="nav-link" >Log Out</a>
          </li>
        </ul>      
        
        <form class="form-text container">
          <input 
          class="form-control mr-sm-2" 
          type="search" 
          placeholder="Search" 
          aria-label="Search">
          <button 
          class="btn btn-outline-light my-2 my-sm-0" 
          type="submit">Search</button>
        </form>
        
      </div>
    </nav>
  </div>