<div class="container-fluid">

	<h4 style="text-align: center;"> search for urls </h4>
	    <input type="text" class="form-control" placeholder="Search .." ng-model="searching">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">
	          <span>search</span>
	        </button>
	      </span>
	<ul ng-repeat = 'url in urls | filter: searching'>
		<li  style="font-size:23px; border-radius: 5px; padding: 10px;" class="bg-light" >
			<a href="{{url.url}}" style="margin-left: 20px;">{{url.urlName}}</a>

			<br>

			<button class="btn btn-danger" ng-click= delete(url._id)>delete</button>

			</li>

		</ul>


	</div>
