<table class= "table">
		<tr>
			<th>
				Name
				<input type="text" name="" ng-model='name'>

			</th>
			<th>
				Url
				<input type="text" name="" ng-model = 'url'>
			</th>
			<select ng-model = "val">
  				<option value="videos">videos</option>
  				<option value="articles">articles</option>
  				<option value="photos">photos</option>
  				<option value="music">music</option>
  				<option value="others">others</option>

			</select>
			<th>
				<button ng-click='addUrl(name,url,val)'>
					Add to your Urls
				</button>
			</th>

		</tr>
	</table>
<div class="input-group">
        <input type="text" class="form-control" placeholder="Search .." ng-model = 'username'>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click = search(username)>
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
      <br>
   		<div>
   			<ul ng-repeat = "username in usernames">
   				<li>
   				{{username.userName}}  {{username.category}} <a href = '{{username.url}}' target="_blank"> {{username.urlName}} </a>
   				</li>
   			</ul>
   		</div>
