<div class="components">
	<h4>You can save your favorite URLS here!</h4>
	<h4>just paste your url in the input and just give it a name !</h4>
	<h4></h4>
					<input type="text" name=""  ng-model='name' placeholder="Enter Url Name">

					<br>
					<br>

					<input type="text" name="" ng-model = 'url' placeholder="Enter Url">
					<br>
					<br>

	<select ng-model = "val">
			<option value="videos" selected>videos</option>
			<option value="articles">articles</option>
			<option value="photos">photos</option>
			<option value="music">music</option>
			<option value="others">others</option>


	</select> <span>Select Url  Category</span>


				<br>
				<br>
					<button ng-click='addUrl(name,url,val)'>
						Add To My Urls
					</button> <p ng-show="urlMessage">your url added successfully</p>
</div>





	<h3>Search For Other Users</h3>

	<div class="input-group" style="padding: 20px;">

		<input type="text" class="form-control" placeholder="Search .." ng-model = 'username'>

		<span class="input-group-btn">
			<button class="btn btn-default" type="button" ng-click = search(username)>
				<span class="glyphicon glyphicon-search"></span>
			</button>

		</span>

	</div>
	<br>
	<div>
			<input type="text" ng-show = "!!usernames" class="form-control"   placeholder="Search by urlName	" ng-model = 'username1' style="width: 500px">
		<ul ng-repeat = "username in usernames | filter: username1">

			<li>
				<div style="background-color: aliceblue; padding: 20px;"><h4>user name : </h4>{{username.userName}} <br> <h4>category :</h4> {{username.category}} <br> <h4>link:</h4> <a href = '{{username.url}}' target="_blank"> {{username.urlName}} </a><br> Likes: {{username.likes}}</div> <div><button class="btn btn-primary"  ng-hide=username.like ng-click="var=true ;like(username.userName,username.urlName)"><i class="fa fa-thumbs-up">Like</i> </button>
					<button class="btn btn-primary"  ng-show=username.like ng-click="var=false ;unlike(username.userName,username.urlName)"><i class="fa fa-thumbs-up">UnLike</i> </button>
					<button type="button" class="btn btn-success" ng-click="import(username.userName,username.urlName)">Add to Mine</button>
				</div>
			</ul>


		</div>
