<!DOCTYPE html>
<html>
<head>


	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		Mine App

	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app= 'app'>

<!-- login and signup pages -->

	<div class= "container-fluid" ng-controller = 'myCtrl'>
		<!-- login  -->
		<div class="container" ng-show="myVar">
			<img src="logo.png" alt="" width="350px;">
			<h2>Welcome To Mine !</h2>
			<h2 style="margin-bottom: 120px;">All Your ULRs in one place </h2>
			<div class="row main">
				<div class="main-login main-center">


					<form class="" >

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name"  ng-model="loginUsername" placeholder="Enter your Username"/>
								</div>
							</div>
						</div>


						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password"  ng-model="loginPassword"   placeholder="Enter your Password"/>
								</div>
							</div>
						</div>


						<div class="form-group ">

							<button type="button"  style="color:black" ng-click=addClickLogin()> <strong>Login </strong></button>

							    						<p class="psw" >don't have an account yet?<a href="#" ng-click= "myVar= false" style="color:skyblue" >Signup</a> </p>

						</div>

					</form>
				</div>
			</div>

		</div>

		<!-- sign up -->

		<div class="container" ng-hide="myVar">
			<div class="row main">
				<div class="main-login main-center">
					<img src="logo.png" alt="" width="200px;">
					<form class="" >

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Your Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="name" id="name" ng-model="username" placeholder="Enter your Username"/>


								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="email" id="email" ng-model="email" placeholder="Enter your Email"/>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" ng-model="password" id="password"  placeholder="Enter your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" ng-model="confirmPassword" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
								</div>
							</div>
						</div>
						<div class= "form-group"><form>
               <label class="btn btn-primary">
                  uplaod your photo
                   <input type="file"  name="myfile" style="display: none" onchange="angular.element(this).scope().photo(this.files)">
               </label>
               <br>
               <br>
             
           </form></div>

           
						<div class="form-group ">

							<button type="button" ng-click="addClick()" style="color:black"> <strong>Register </strong></button>

						</div>

					</form>
				</div>
			</div>

		</div>









</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="index.js"></script>

</body>
</html>
