
<!DOCTYPE html>
<html>
<head>

  <title>

  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body ng-app= 'app2' class="container-fluid">
<div  ng-controller = 'myCtrl2' ng-init='init()' >
<img src="logo.png" style="width: 140px;" />
  <div class="float-right" style="margin-left: 10px;">
    <ul class="nav navbar-nav navbar-right">
          <li ng-click='logout()' style="font-size:10px;"><a href="#">Logout</a></li>
    </ul>
    <p>{{user.userName}}</p>
    <p style="margin-top: -12px;">{{user.email}}</p>

  </div>
  <div class="float-right">

  <img ng-src="{{ user.image || defaultImage}}" alt="" style="width: 70px; height: 50px" class="float-right">
     <form>
               <label class="btn btn-primary">
                 Change photo
                   <input type="file"  name="myfile" style="display: none" onchange="angular.element(this).scope().photo(this.files)"> <!-- read about it, if we tell you everything you'll never learn -->
               </label>
               <br>
               <br>
             
           </form>
  </div>

  <div class="nav-menu ">

      <ul class="nav nav-pills nav-stacked">
        <li ><a href="#!Home" class="menu">Home</a></li>
        <li ><a href="#!Videos" ng-click='getVideos()' class="menu">Videos</a></li>
        <li ><a href="#!Articles" ng-click='getArticles()' class="menu">Articles</a></li>
        <li ><a href="#!Photos" ng-click='getPhotos()' class="menu">Photos</a></li>
        <li ><a href="#!Music" ng-click='getMusic()' class="menu">Music</a></li>
        <li ><a href="#!Others" ng-click='getOthers()' class="menu">Other</a></li>
      </ul>
      <div class="col-sm-9" ng-view></div>


      </div>
      </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="main.js"></script>
</body>
</html>
