<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<!DOCTYPE html>
<html>
<head>


  <title>

  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body ng-app= 'app2'>
<div  ng-controller = 'myCtrl2' ng-init='init()'>
  <ul class="nav  nav-pills bar">
    <li ng-click='logout()' class="pull-right logout">Logout</li>
    <li class="pull-right">
          <h5 class="col-sm-9">{{user.userName}}</h5>
          <h5 class="col-sm-9">{{user.email}}</h5>
          <img src="profile.png" alt="" width="70px">

        </li>

        <li><img src="logo.png" style="width: 70px;"/> </li>
  </ul>



<div class="container-fluid">
  <div class="row content">

    <div class="col-sm-3 sidenav">

      <ul class="nav nav-pills nav-stacked menuAll">
        <li ><a href="#!Home" class="menu">Home</a></li>
        <li ><a href="#!Videos" ng-click='getVideos()' class="menu">Videos</a></li>
        <li ><a href="#!Articles" ng-click='getArticles()' class="menu">Articles</a></li>
        <li ><a href="#!Photos" ng-click='getPhotos()' class="menu">Photos</a></li>
        <li ><a href="#!Music" ng-click='getMusic()' class="menu">Music</a></li>
        <li ><a href="#!Others" ng-click='getOthers()' class="menu">Other</a></li>
      </ul><br>

    </div>

      <div class="col-sm-9" ng-view></div>


      </div>
      </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="main.js"></script>
</body>
</html>
