
body, html{
     height: 100%;
    background-color: #aliceblue;
    font-family: 'Oxygen', sans-serif;
    background-size: cover;
}

.main{
    margin:50px 15px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 50px;
}

label{
    margin-bottom: 15px;
}

span.input-group-addon i {
    color: #D82668;
    font-size: 17px;
}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}
th{
  color: #black;
}

.menuitem{
  height: 100px;

}
