<div class="container mt-5">
    <div class="form-group">
        <form>
            <h4 class="text-dark">
                Add Your URL Here
            </h4>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text text-dark" id="basic-addon1">URL</span>
                </div>
                <input type="url" class="form-control" placeholder="Paste URL Here" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text text-dark" id="basic-addon1">Name</span>
                </div>
                <input type="url" class="form-control" placeholder="Give It a nice name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text  text-dark" for="inputGroupSelect01">Category</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Select Category...</option>
                  <option value="1">Videos</option>
                  <option value="2">Articles</option>
                  <option value="3">Music</option>
                  <option value="3">Photos</option>
                  <option value="3">Others</option>
                </select>
            </div>
            <input type="submit" class="btn btn-outline-dark" value="Add To Mine">      
        </form>
    </div>
</div>