<div class="card mb-5 mt-2 mr-auto ml-auto" style="width: 30rem;">
    <div class="row">
      <div class="col-12 mt-5 ml-auto mr-auto img">
        <img class="card-img-top profile-img" src="{{ userInfo.image }}" alt="url owner">
      </div>
      <div class="col-8 mt-4 ml-auto mr-auto text-center">
        <h5 class="card-title">{{ userInfo.name }}</h5>      
      </div>
    </div>  
    <hr>
    <div class="card-body row">
      <div class="col-10">
        <p class="card-text">Gender: {{ userInfo.gender }} </p>
      </div>
      <div class="col-2">
          <a class="btn btn-outline-secondary btn-sm text-center mt-2 mr-5">Edit</a>
      </div>
      <div class="col-10">
        <p class="card-text">Nationality: {{ userInfo.nationality }}</p>
      </div>
      <div class="col-2">
          <a class="btn btn-outline-secondary btn-sm text-center mt-2 mr-5">Edit</a>
        </div>
        <div class="col-10">
            <p class="card-text">Email: {{ userInfo.email }}</p>
        </div>
        <div class="col-2">
          <a class="btn btn-outline-secondary btn-sm text-center mt-2 mr-5">Edit</a>
        </div>
        <div class="col-10">
          <p class="card-text">City: {{ userInfo.city }}</p>
        </div>
        <div class="col-2">
          <a class="btn btn-outline-secondary btn-sm text-center mt-2 mr-5">Edit</a>
        </div>
        <div class="col-10">
          <p class="card-text">Phone: {{ userInfo.phone }}</p>
        </div>
        <div class="col-2">
          <a class="btn btn-outline-secondary btn-sm text-center mt-2 mr-5">Edit</a>        
        </div>
        <div class="col-10">
          <p class="card-text">Job: {{ userInfo.job }}</p>
        </div>
        <div class="col-2">
          <a class="btn btn-outline-secondary btn-sm text-center mt-2 mr-5">Edit</a>
        </div>
        <div class="col-10">
          <p class="card-text">Date: {{ userInfo.date }}</p>
        </div>
        <div class="col-2">
          <a class="btn btn-outline-secondary btn-sm text-center mt-2 mr-5">Edit</a>
        </div>        
      </div>
    </div>