<div class="container mt-5">
  <mat-accordion class="text-center">
    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title>
          Your Information
        </mat-panel-title>
        <mat-panel-description>
          Type Your info here
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <input type="text" matInput placeholder="First name">
      </mat-form-field>
  
      <mat-form-field>
        <input type="text" matInput placeholder="Last Name">
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input matInput
          placeholder="country"
          aria-label="country"
          (input)="onFilterCountry($event.target.value)"
          [matAutocomplete]="auto"
        >
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let country of filterdCountries" [value]="country">
            <span>{{ country }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    
      <mat-form-field>
        <mat-select placeholder="Gender">
          <mat-option value="male">male</mat-option>
          <mat-option value="female">female</mat-option>
          <mat-option value="other">other</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Your Birthday">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Credentials
        </mat-panel-title>
        <mat-panel-description>
          Your Account Informations
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <mat-form-field>
        <input type="text" matInput placeholder="Account Unique Name">
      </mat-form-field>

      <mat-form-field>
        <input type="email" matInput placeholder="Your Email">
      </mat-form-field>

      <mat-form-field>
        <input type="password" matInput placeholder="Your Password">
      </mat-form-field>

      <mat-form-field>
        <input type="password" matInput placeholder="Confirm Your Password">
      </mat-form-field>

    </mat-expansion-panel>
  </mat-accordion>
  <div>
    <button type="submit" mat-stroked-button>Sign Up</button>
  </div>
</div>